---
layout: default
---
<!---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        {{ site.last_name }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>
 --->
 <div class="FeaturedImgBanner" {% if page.featured-img %} style="background-image: url('{{ page.featured-img }}');" {% endif %}>
<header class="post-header about">
        <!--img class="profile float-left" width="120px" src="/assets/img/logo2.jpeg"-->
        <h1 class="post-title" style="color:White;">
            <b>Reflections on the Teaching of Reading and Writing in STEMM</b>
        </h1>
        <h6 class="post clearfix" style="color:White"> 
            Centre for Writing and Pedagogy • Mathematics Discipline • School of Interwoven Arts & Sciences, Krea University
        </h6>
        <h6 class="post clearfix" style="color:White"> 
        17-19 January 2025
        </h6>
    </header>
</div>
  <!--div class="post">
    <header class="post-header about">
        <!--img class="profile float-left" width="120px" src="/assets/img/logo2.jpeg"-->
        <!--h1 class="post-title" style="color:DarkMagenta;">
            <b>Reflections on the Teaching of Reading and Writing in STEMM</b>
        </h1>
        <h2 class="post-description clearfix">
            Centre for Writing and Pedagogy • Mathematics Discipline • School of Interwoven Arts & Sciences, Krea University
        </h2>
    </header>
  </div-->
  
<article>
<div class="post">
<p align="justify">The <a href="https://www.krea.edu.in/cwp/" target="_blank">Centre for Writing & Pedagogy</a> and the <a href="https://krea.edu.in/sias/mathematics-at-krea/" target="_blank">Mathematics Discpline</a>, <a href="https://krea.edu.in/sias/" target="_blank">School of Interwoven Arts and Sciences, Krea University</a>, are hosting an online international symposium on “Reflections on the Teaching of Reading & Writing in STEMM”. <b>This symposium brings together an international cohort of scholars and practitioners from different disciplines engaged in the teaching of reading- and writing-oriented courses in STEMM disciplines, as well as courses that focus on reading and writing practices to teach domain knowledge.</b></p>

<p align="justify">The reflections of this cohort seek to generate a body of empirical and theoretical knowledge that precipitates critical conversations on curricular & pedagogical aspects of teaching reading and writing skills in STEMM, and teaching disciplinary knowledge by attending to reading and writing practices within these disciplines.</p>

<p align="justify"><b>Dates and Times:</b> 17-19 January 2025, 09:30 AM - 05:30 PM IST</p>

<p align="justify"><em>Please register for the symposium by filling up <a href="https://forms.gle/up8jHnsDm5oVcHR5A" target="_blank">this form</a> by 15 January 2025. The Zoom link and the symposium booklet will be emailed to all registrants by 16 January 2025.</em></p>

<p align="justify"><em>Attendees who attend all sessions will be awarded participation certificates.</em></p>

<marquee style="color:DarkMagenta;"><b><a href="https://forms.gle/up8jHnsDm5oVcHR5A" target="_blank">Registrations open!</a></b></marquee>

</div>

<hr style="height:1px;border-width:0;color:DarkMagenta;background-color:DarkMagenta">

<div class="profile float-right">
<swiper-container keyboard="true" navigation="true" pagination="true" pagination-clickable="true" pagination-dynamic-bullets="true" rewind="true">
<swiper-slide>{% include figure.liquid loading="eager" path="assets/img/4.png" class="img-fluid rounded z-depth-1" %}</swiper-slide>
<swiper-slide>{% include figure.liquid loading="eager" path="assets/img/5.png" class="img-fluid rounded z-depth-1" %}</swiper-slide>
<swiper-slide>{% include figure.liquid loading="eager" path="assets/img/6.png" class="img-fluid rounded z-depth-1" %}</swiper-slide>
</swiper-container>
</div>

<div class="post">
Presentations at this symposium explore the following questions and themes:

<ul>
<li>Curricular and pedagogical reflections on teaching reading and/or writing in STEMM</li>
<li>Sketching the STEMM reading-writing teacher</li>
<li>Role of reading-writing in domain-specific STEMM knowledge</li>
<li>Interdisciplinary reflections</li>
<li>Frameworks for developing reading-writing curricula for STEMM disciplines in India</li>
<li>Empirical investigations into reading and writing in STEMM</li>
<li>Teaching science communication to STEMM students</li>
</ul>
<p align="justify"><em>More details about the above themes can be found <a href="https://writestemm.github.io/concept/#themes" target="_blank">here</a></em></p>
</div>

<div class="post">
<h2 style="color:DarkMagenta;"><b>Important Dates</b></h2>

<ul>
<li><b>Symposium Dates</b> : 17-18 January 2025</li>
<li><b>Academic Writing Workshops (for presenters) on</b> 19 January 2025</li>
</ul>
</div>

<hr style="height:1px;border-width:0;color:DarkMagenta;background-color:DarkMagenta">

<h2 style="color:DarkMagenta;"><b>Registration Form</b></h2>

<p>The registration form may be found at the following link:</p>

<p><a href="https://forms.gle/up8jHnsDm5oVcHR5A" target="_blank">https://forms.gle/up8jHnsDm5oVcHR5A</a></p>

<hr style="height:1px;border-width:0;color:DarkMagenta;background-color:DarkMagenta">

<h2 style="color:DarkMagenta;"><b>Keynote Lecture</b></h2>

<div class="row mt-3">
    <div class="col-sm mt-3 mt-md-0">
        {% include figure.liquid loading="eager" path="assets/img/Alcock.jpg" class="img-fluid rounded z-depth-1" %}
    </div>
    <div class="col-sm mt-3 mt-md-0">
        {% include figure.liquid loading="eager" path="assets/img/Alcock3.png" class="img-fluid rounded z-depth-1" %}
    </div>
</div>
<div class="caption">
    The keynote lecture will be given by Prof. Lara Alcock from Loughborough University, United Kingdom.
</div>

<hr style="height:1px;border-width:0;color:DarkMagenta;background-color:DarkMagenta">

<h2 style="color:DarkMagenta;"><b>Guests of Honour</b></h2>

<div class="row mt-3">
    <div class="col-sm mt-3 mt-md-0">
        {% include figure.liquid loading="eager" path="assets/img/anannya.jpg" class="img-fluid rounded z-depth-1" %}
    </div>
    <div class="col-sm mt-3 mt-md-0">
        {% include figure.liquid loading="eager" path="assets/img/VijayRaghavan.png" class="img-fluid rounded z-depth-1" %}
    </div>
    <div class="col-sm mt-3 mt-md-0">
        {% include figure.liquid loading="eager" path="assets/img/raghavan.jpg" class="img-fluid rounded z-depth-1" %}
    </div>
</div>
<div class="caption">
    (From left) Anannya Dasgupta, K. VijayRaghavan, and KN Raghavan.
</div>



<!--div class="post">
<p align="justify">The Symposium will feature academic writing workshops to refine these Working Papers for possible publication in the September 2026 Special Issue of <a href="https://journals.sagepub.com/home/CED" target="_blank"><b><em>Contemporary Education Dialogue</em> (SAGE)</b><a>.</p>
<p align="justify">The Symposium will feature a keynote speaker engaged in pedagogical and curricular research on reading-writing practices in STEMM. Further details on the Symposium may be found in the <a href="https://docs.google.com/document/d/1LJFpxSKgrY4s2fhH_jOJV5Vrf5J-tXBNrdxduzWyIZI/edit?usp=sharing" target="_blank">Concept Note</a>.</p>
</div-->
  

    {% if page.profiles %}
      {% for profile in page.profiles %}
        <hr style="height:1px;border-width:0;color:DarkMagenta;background-color:DarkMagenta">
        <div class="profile float-{% if profile.align == 'left' %}left{% else %}right{% endif %}">
          {% if profile.image %}
            {% assign profile_image_path = profile.image | prepend: 'assets/img/' %}
            {% if profile.image_circular %}
              {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
            {% else %}
              {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
            {% endif %}
            {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.45}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
            {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=profile.image %}
          {% endif %}
          {% if profile.more_info %}
            <div class="more-info">{{ profile.more_info }}</div>
          {% endif %}
        </div>

        <div class="clearfix">
          {% if profile.content %}
            {% capture profile_content %}{% include_relative {{ profile.content }} %}{% endcapture %}
            {{ profile_content | markdownify }}
          {% else %}
            {{ content }}
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
    
<hr style="height:1px;border-width:0;color:DarkMagenta;background-color:DarkMagenta">

  <!--
  </article>

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1
      rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px)
      30vw, 95vw"{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
            cache_bust=true
          %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>
    
    <div class="profile float-left">
    
    </div> 
    -->
   <!-- News -->
    {% if page.news and site.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color:DarkMagenta;"><b>News</b></a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if site.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h2>
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">selected publications</a>
      </h2>
      {% include selected_papers.liquid %}
    {% endif %}

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}

    {% if site.newsletter.enabled and site.footer_fixed %}
      {% include scripts/newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>
