---
layout: default
---
<!---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        {{ site.last_name }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>
 --->
  <div class="post">
    <header class="post-header about">
        <!--img class="profile float-left" width="120px" src="/assets/img/logo2.jpeg"-->
        <h1 class="post-title" style="color:DarkMagenta;">
            <b>Reflections on the Teaching of Reading and Writing in STEMM</b>
        </h1>
        <h2 class="post-description clearfix">
            Centre for Writing and Pedagogy • Mathematics Discipline • School of Interwoven Arts & Sciences, Krea University
        </h2>
    </header>
  </div>
  
<article>
<hr>

<div class="profile float-center">
<swiper-container keyboard="true" navigation="true" pagination="true" pagination-clickable="true" pagination-dynamic-bullets="true" rewind="true">
<swiper-slide>{% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.45}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}{% include figure.liquid loading="eager" path="assets/img/2.jpeg" class="img-fluid rounded z-depth-1" %}</swiper-slide>
<swiper-slide>{% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.45}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}{% include figure.liquid loading="eager" path="assets/img/3.jpeg" class="img-fluid rounded z-depth-1" %}</swiper-slide>
</swiper-container>
</div>

<div class="post">
<p align="justify">The <a href="https://www.krea.ac.in/cwp/" target="_blank">Centre for Writing and Pedagogy</a> and the <a href="https://krea.edu.in/sias/mathematics-at-krea/" target="_blank">Mathematics Discpline</a> at the <a href="https://krea.edu.in/sias/" target="_blank">School of Interwoven Arts and Sciences, Krea University</a> are jointly organizing a Symposium on <b>"Reflection on the Teaching of Reading and Writing in STEMM"</b> from <b>17-19 January 2025</b>.</p>
<p align="justify">STEMM “inreach” and “outreach” require learners and practitioners to read and write in both technical and non-technical registers. Although the teaching of these skills is gaining momentum both in STEMM policies and STEMM institutions, a systematic intervention is required in developing pedagogies and curricula for teaching reading and writing in STEMM. To fill this gap, the Symposium solicits Abstract Submissions on the themes of pedagogical and curriculur developments in the field of reading and writing courses in STEMM.</p>
</div>

<hr>

<div class="post">
Topics of Interest include but are not limited to:
<ul>
<li>Curricular and pedagogical reflections on teaching reading and/or writing in STEMM</li>
<li>Sketching the STEMM reading-writing teacher</li>
<li>Uses and abuses of generative AI</li>
<li>Role of reading-writing in domain-specific STEMM knowledge</li>
<li>Interdisciplinary reflections</li>
<li>Frameworks for developing reading-writing curricula for STEMM disciplines in India</li>
<li>Empirical investigations into reading and writing in STEMM</li>
</ul>
</div>
  

    {% if page.profiles %}
      {% for profile in page.profiles %}
        <hr>
        <div class="profile float-{% if profile.align == 'left' %}left{% else %}right{% endif %}">
          {% if profile.image %}
            {% assign profile_image_path = profile.image | prepend: 'assets/img/' %}
            {% if profile.image_circular %}
              {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
            {% else %}
              {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
            {% endif %}
            {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.45}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
            {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=profile.image %}
          {% endif %}
          {% if profile.more_info %}
            <div class="more-info">{{ profile.more_info }}</div>
          {% endif %}
        </div>

        <div class="clearfix">
          {% if profile.content %}
            {% capture profile_content %}{% include_relative {{ profile.content }} %}{% endcapture %}
            {{ profile_content | markdownify }}
          {% else %}
            {{ content }}
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
    
    <hr>
  <!--
  </article>

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1
      rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px)
      30vw, 95vw"{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
            cache_bust=true
          %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>
    
    <div class="profile float-left">
    
    </div> 
    -->
   <!-- News -->
    {% if page.news and site.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color:DarkMagenta;"><b>News</b></a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if site.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h2>
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">selected publications</a>
      </h2>
      {% include selected_papers.liquid %}
    {% endif %}

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}

    {% if site.newsletter.enabled and site.footer_fixed %}
      {% include scripts/newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>
